<!doctype html>
<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <a href="/logout">Logout</a><br>

    <ul id="messages">
      <message></message>
    </ul>

    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    </script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/g/riot@2.2(riot.min.js+compiler.min.js)"></script>
  </body>
</html>
